<div class="container">
   <!-- Main Left side -->
   <div class="main-left-side">
      <!-- Single Category News Blocks -->
      <div class="news-sec-1 float-width">
         <div class="float-width sec-cont2">
            <h3 class="sec-title">MUSIC NEWS</h3>
            <% @articles.each do | article| %>
            <div class="sec-1-big float-width">
            <%= image_tag(article.image_url(:index_mid_2), alt: "Blog", class: "blocky" ) %>
               <div class="sec-1-big-text lefty">
                  <h3><%= article.title %></h3>
                  <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                  <p><%= article.content %></p>
               </div>
            </div>
            <% end %>
         </div>
         <div class="cat-pagintn float-width">
            <ul>
               <li><a class="crnt-pg">1</a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li><a href="#">6</a></li>
               <li><a href="#">7</a></li>
               <li><a href="#">...</a></li>
               <li><a href="#">22</a></li>
            </ul>
         </div>
         <div class="cat-pagintn float-width" >
         <%= will_paginate @articles, previous_label: h("<"), next_label: h(">") %>
         </div>
      </div>
   </div>
</div>


