<div class="artcl-comments float-width">
   <h3 class="sec-title">COMMENTS</h3>
   <div class="comments-section float-width">
      <div class="single-comment">
         <img alt="" class="blocky" src="img/samples/t1.jpg" />
         <div class="the-comment lefty">
            <h4>
               <span class="comntr-nm lefty"><%= @article.author %> </span>
               <span class="cmnt-dt lefty"> <%= @article.created_at %></span>
               <a class="righty" href="#"><span class="cmnt-reply">Reply</span></a>
            </h4>
            <p>Praesent nec risus non tellus scelerisque congue eu eu purus. Aliquam id porta lacus. Morbi eleifend ultricies placerat. Nullam luctus lectus a risus congue scelerisque. In in fermentum nunc.</p>
         </div>
      </div>
      <div class="cmnt-dvdr"></div>
      <div class="single-comment reply-1">
         <img alt="" class="blocky" src="img/samples/t2.jpg" />
         <div class="the-comment lefty">
            <h4>
               <span class="comntr-nm lefty"><%= @article.author %> </span>
               <span class="cmnt-dt lefty"> <%= @article.created_at %></span>
               <a class="righty" href="#"><span class="cmnt-reply">Reply</span></a>
            </h4>
            <p>Praesent nec risus non tellus scelerisque congue eu eu purus. Aliquam id porta lacus. Morbi eleifend ultricies placerat. Nullam luctus lectus a risus congue scelerisque. In in fermentum nunc.</p>
         </div>
      </div>
   </div>
   <div class="cmnt-reply-form float-width">
      <h3 class="sec-title">LEAVE A RESPONSE</h3>
      <form role="form">
         <div class="form-group">
            <input type="name" class="form-control" id="exampleInputName" placeholder="Name or nickname">
         </div>
         <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
         </div>
         <div class="form-group">
            <input type="website" class="form-control" id="exampleInputWebsite" placeholder="Website (optional)">
         </div>
         <textarea class="form-control" rows="6" placeholder="Your comment"></textarea>
         <a class="cmnt-btn trans2" href="#">POST YOUR COMMENT</a>
      </form>
   </div>
</div>
