<div class="sm-gal-cont float-width">
   <h3 class="sec-title">TOURISM - GALLERY</h3>
   <div class="sm-gal-bg">
      <a href="#"><img alt="" src="img/samples/z5.jpg" /></a>
   </div>
   <div class="flexslider img-sm-gal righty">
      <ul class="slides">
         <li>
            <img alt="" src="img/samples/r1.jpg" />
            <img alt="" src="img/samples/r5.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r2.jpg" />
            <img alt="" src="img/samples/r6.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r3.jpg" />
            <img alt="" src="img/samples/r7.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r4.jpg" />
            <img alt="" src="img/samples/r8.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r1.jpg" />
            <img alt="" src="img/samples/r5.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r2.jpg" />
            <img alt="" src="img/samples/r6.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r3.jpg" />
            <img alt="" src="img/samples/r7.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r4.jpg" />
            <img alt="" src="img/samples/r8.jpg">
         </li>
         <li>
            <img alt="" src="img/samples/r1.jpg" />
            <img alt="" src="img/samples/r5.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r2.jpg" />
            <img alt="" src="img/samples/r6.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r3.jpg" />
            <img alt="" src="img/samples/r7.jpg">
         </li>
         <li>
            <img alt="" src="img/samples/r4.jpg" />
            <img alt="" src="img/samples/r8.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r1.jpg" />
            <img alt="" src="img/samples/r5.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r2.jpg" />
            <img alt="" src="img/samples/r6.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r3.jpg" />
            <img alt="" src="img/samples/r7.jpg" />
         </li>
         <li>
            <img alt="" src="img/samples/r4.jpg" />
            <img alt="" src="img/samples/r8.jpg" />
         </li>
      </ul>
   </div>
</div>
