<!-- Main Home Layout start -->
<!-- Top toolbar -->
<!-- render "top_logo_menu" -->
<!-- Main Menu -->
<!-- render "main_menu"-->
<!-- Home Slider and Big news blocks -->
<!-- News Ticker -->
 <%= render "ticker" %>
<!-- Main Body -->
<div class="container">
   <!-- Main Left side -->
   <div class="main-left-side">
      <!-- Sec 1 -->
      <%= render "picture" %>

   </div>
   <!-- Main Right side -->
   <%= render "main_right_side" %>
</div>
<!-- Footer -->
   <!-- render footer -->
<!-- Main Home Layout Ends -->